.vs/FoodDelivery/FileContentIndex/1a241210-3eff-4e6a-8578-d807d3dc42ff.vsidx
.vs/FoodDelivery/FileContentIndex/f9c7a9b2-c95c-4056-8cd9-2e872850b606.vsidx
.vs/
*.vsidx
FoodDelivery/bin/Debug/net7.0/logs/
/.vs/FoodDelivery/DesignTimeBuild/.dtbcache.v2
Contracts/obj/Debug/net7.0/Contracts.csproj.AssemblyReference.cache
FoodDelivery/obj/Debug/net7.0/FoodDelivery.csproj.AssemblyReference.cache
LoggerService/obj/Debug/net7.0/LoggerService.csproj.AssemblyReference.cache
Repository/obj/Debug/net7.0/Repository.csproj.AssemblyReference.cache
Service/obj/Debug/net7.0/Service.csproj.AssemblyReference.cache
