.vs/FoodDelivery/FileContentIndex/64aa75a3-c9ce-432f-bc5b-f39df52ce0d6.vsidx
.vs/FoodDelivery/FileContentIndex/b1255fd7-c460-49b9-ba20-181c9d4c57fd.vsidx
.vs/FoodDelivery/FileContentIndex/e6454595-a876-4b49-b766-387b1279f56a.vsidx
.vs/FoodDelivery/FileContentIndex/ee8bda02-d2ae-4bfc-918b-8966561c51a2.vsidx
.vs/FoodDelivery/DesignTimeBuild/.dtbcache.v2
.vs/FoodDelivery/FileContentIndex/220601cd-5259-4da4-b10c-ff9ca59a9cd2.vsidx
.vs/FoodDelivery/FileContentIndex/422ef787-1acb-4660-82dd-0e6e02dc171d.vsidx
.vs/FoodDelivery/FileContentIndex/448f55f2-65c7-45ff-979f-8610803af33b.vsidx
.vs/FoodDelivery/FileContentIndex/60d854ed-5ac0-4857-8c9f-438ee095bca5.vsidx
.vs/FoodDelivery/v17/.futdcache.v2
.vs/FoodDelivery/v17/.suo
.vs/ProjectEvaluation/fooddelivery.metadata.v7.bin
.vs/ProjectEvaluation/fooddelivery.projects.v7.bin
Contracts/obj/Debug/net7.0/Contracts.csproj.AssemblyReference.cache
FoodDelivery/internal_logs/internallog.txt
FoodDelivery/obj/Debug/net7.0/FoodDelivery.csproj.AssemblyReference.cache
LoggerService/obj/Debug/net7.0/LoggerService.csproj.AssemblyReference.cache
Repository/obj/Debug/net7.0/Repository.csproj.AssemblyReference.cache
Service.Contracts/obj/Debug/net7.0/Service.Contracts.csproj.AssemblyReference.cache
Service/obj/Debug/net7.0/Service.csproj.AssemblyReference.cache